spring:
  application:
    name : web_IDE_for

  config:
    import: "optional:dotenv:.env"

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

  jackson:
    time-zone: Asia/Seoul

  server:
    port: 8080
    address: 0.0.0.0
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

cloud:
  aws:
    credentials:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
    region:
      static: ap-southeast-2
    s3:
      bucket: webic-s3-bucket
    stack:
      auto: false

clerk:
  jwks-url: https://clerk.webicapp.com/.well-known/jwks.json
  issuer: https://clerk.webicapp.com
  secret-key: ${CLERK_SECRET_KEY}
  webhook-secret-key: ${CLERK_WEBHOOK_SECRET_KEY}


ssh:
  host: ${SSH_HOST}
  user: ${SSH_USER}
  pem-path: ${SSH_PEM_PATH}
